#authentication {
    background-color: var(--white);
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89vh;
}

.bob {
    height: 60vh;
    width: auto;
    align-self: flex-end;
}

.infos {
    background-color: var(--silver);
    width: 30vw;
    height: 20vh;
    padding: 2em 3em;
    border-radius: 4em;
    font-weight: 700;
    align-self: flex-start;
    margin: 5em 0;
}

.infos button {
    padding: 1em;
}

.infos button:hover {
    text-decoration: underline;
}

form {
    color: var(--dark-purple);
    background-color: var(--light-purple);
    padding: 2em;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

form h2 {
    font-weight: 400;
    font-size: 1.6em;
    text-decoration: underline;
}

form input {
    color: var(--dark-purple);
    padding: 10px;
    margin-top: 6px;
    border: 2px solid var(--dark-purple);
    border-radius: 0.5em;
    width: 60%;
    align-self: center;
}

.errorMessage {
    color: var(--white);
}

#login {
    height: 40vh;
    width: 15vw;
}

#signup {
    height: 45vh;
    width: 20vw;
}
